<footer class="page-footer blue-grey darken-3 center-align">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">
          Created by Shannon Zylstra; Copyright © 2019-<%= new Date().getFullYear() %>
        </h5>
      </div>
    </div>
  </div>
</footer>
