<footer class="page-footer grey darken-3 center-align">
  <div class="container">
        <div class="footer-copyright">
          <div class="container">
            Shannon Zylstra © 2019-<%= new Date().getFullYear() %>
          </div>
        </div>
  </div>
</footer>
