<!DOCTYPE html>
<html>
<head>
  <title>WellRead</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="homebody">
  <%- include('../partials/nav') %>
  <main>
    <div class="app">
      <div class="container">
        <%- include('../partials/alerts') %>
        <%- body %>
      </div>
    </div>
  </main>
  <%- include('../partials/footer') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var instancesNav = M.Sidenav.init(document.querySelectorAll('.sidenav'))
    })
  </script>
</body>
</html>
