<h1>Ruh-Roh</h1>

<h2>We've encountered a problem! If the problem persists, please contact your administrator!</h2>

<div class="row">
  <div class="col s6">
    <h3>Meanwhile...</h3>
    <h4>Please don't be mad!</h4>
  </div>
  <div class="col s6">
    <img src="http://placekitten.com/400/400" alt="Meow" class="responsive-img">
  </div>
</div>
