<div class="bg-image"></div>
<div class="bg-text">
    <img src="/img/wellread-logo-white.png" style="height:450px;" >
    <!--h2 class="lead white-text">
        the book shelf||swap||club app
    </h2-->
</div>