<!DOCTYPE html>
<html>
<head>
  <title>Express Auth Boiler</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>Temp Nav</nav>
  <main>
    <%- body %>
  </main>
</body>
</html>
